<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/patients/style.css" />
    <title>Patient</title>
  </head>
  <body>
    <form method="post" action="/appointment">
      <label for="appointmentNumber">Please enter your appointment number</label>
      <input id="appointmentNumber" name="appointmentNumber" />
      <button>Ok</button>
    </form>
  </body>
</html>
